In [1]:
import numpy as np
import pandas as pd

In [2]:
%%time
df_milestone2 = pd.read_pickle("data\\Milestone_II_data.pkl")

Wall time: 528 ms

In [3]:
df_milestone2.shape

(296263, 1096)

In [4]:
df_milestone2

,Date,Open,High,Low,Close*,Adj. close**,Volume,ticker,Volume_MA50,Volume_MA200,...,HT_PHASOR,HT_QUADRATURE,HT_SINE,HT_LEADSINE,HT_TRENDMODE,y_20d,Yield_TTM_pct_NaN,Magic_Formula_Score_Percentile_NaN,EPS_Growth_TTM_pct_NaN,Sales_Growth_TTM_pct_NaN
0,2017-01-05,978.094,978.094,952.575,958.014,934.326,6898790.0,AAL.L,7687195.0,8423616.0,...,13.609375,31.812500,0.924316,0.923340,0,1.189082,0,0,0,0
1,2017-01-06,953.830,1279.310,945.463,949.647,926.166,8985740.0,AAL.L,7718283.5,8438135.0,...,23.734375,3.371094,0.986328,0.813965,0,1.194278,0,0,0,0
2,2017-01-09,967.636,977.258,955.085,965.962,942.078,7261910.0,AAL.L,7670311.0,8417705.0,...,16.593750,-15.007812,0.993652,0.781250,0,1.185794,0,0,0,0
3,2017-01-10,981.023,1040.430,977.857,1035.410,1009.810,9860050.0,AAL.L,7729435.0,8403733.0,...,11.546875,-26.109375,0.978516,0.545410,1,1.077163,0,0,0,0
4,2017-01-11,1035.410,1088.540,1024.110,1075.150,1048.570,9716240.0,AAL.L,7829275.0,8407885.0,...,-3.769531,-28.968750,0.862793,0.252930,1,1.056811,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296258,2021-08-16,5530.000,5660.000,5520.000,5590.000,5590.000,7878.0,XPP.L,19824.0,37024.0,...,235.250000,18.750000,0.916992,0.366699,1,1.085603,0,0,0,0
296259,2021-08-17,5600.000,5700.000,5590.000,5630.000,5630.000,51988.0,XPP.L,20384.0,37216.0,...,264.750000,-14.351562,0.806641,0.152222,1,1.085603,0,0,0,0
296260,2021-08-18,5690.000,5690.000,5590.000,5590.000,5590.000,14051.0,XPP.L,20400.0,37216.0,...,246.000000,-46.781250,0.662109,-0.061951,1,1.085603,0,0,0,0
296261,2021-08-19,5550.000,5670.000,5460.000,5550.000,5550.000,33474.0,XPP.L,20528.0,37152.0,...,257.250000,-102.437500,0.495361,-0.263916,1,1.085603,0,0,0,0
296262,2021-08-20,5620.000,5620.000,5440.750,5580.000,5580.000,3114.0,XPP.L,20080.0,37088.0,...,207.375000,-293.750000,0.318115,-0.445312,1,1.085603,0,0,0,0

In [5]:
X_train = df_milestone2.loc[df_milestone2['Date'] < '2020-06-20']
X_train.shape

(221122, 1096)

In [6]:
df_test = df_milestone2.loc[(df_milestone2['Date'] > '2020-07-20') & (df_milestone2['Date'] < '2021-07-23')]
df_test.shape

(64515, 1096)

In [7]:
y_train = X_train['y_20d']
y_test_full = df_test['y_20d']
X_train = X_train.drop(['y_20d'], axis=1)
df_test_full = df_test.drop(['y_20d'], axis=1)

Split the Test data into a seen (test) and an unseen (validation) portion. This is as per Kaggle competition setups. Final validation on the unseen portion will only be done once at the very end.

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_test, X_val, y_test, y_val = train_test_split(df_test_full, y_test_full, test_size=0.5, random_state=42)

# Save all the dataframes
We will save the train and test data to data files. We can retrieve them from here later rather than rerunning the pipeline. We will save the validation as well but only use only load at the end for final model validation.

In [15]:
%%time
X_train.to_pickle("data\\milestone_data_X_train.pkl")
y_train.to_pickle("data\\milestone_data_y_train.pkl")

X_test.to_pickle("data\\milestone_data_X_test.pkl")
y_test.to_pickle("data\\milestone_data_y_test.pkl")

X_val.to_pickle("data\\milestone_data_X_val.pkl")
y_val.to_pickle("data\\milestone_data_y_val.pkl")

Wall time: 2.37 s